rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Rule for global templates - accessible by all devices & synced in real-time
    match /templates/{document=**} {
      allow read: if true;
      allow write: if true;
    }

    // 2. Global catch-all
    match /{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
